/.vs/TheFollow/v15/.suo
/.vs/TheFollow/v15/Server/sqlite3/db.lock
/.vs/TheFollow/v15/Server/sqlite3/storage.ide
/.vs/TheFollow/v15/Server/sqlite3/storage.ide-shm
/.vs/TheFollow/v15/Server/sqlite3/storage.ide-wal
/TheFollow/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TheFollow/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TheFollow/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TheFollow/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TheFollow/obj/Debug/TheFollow.csproj.CoreCompileInputs.cache
/TheFollow/obj/Debug/TheFollow.csproj.FileListAbsolute.txt
/TheFollow/obj/Debug/TheFollow.csprojResolveAssemblyReference.cache
/TheFollow/obj/Debug/TheFollow.exe
/TheFollow/obj/Debug/TheFollow.pdb
/TheFollow/bin/Debug/TheFollow.exe
/TheFollow/bin/Debug/TheFollow.exe.config
/TheFollow/bin/Debug/TheFollow.pdb
